.detailImg {
    width: 300px;
    height: auto;
    margin: 0 auto;
}

.detailDescription {
    margin-top: 20px;
    font-size: 1.4em;
    line-height: 1.2;
    width: 400px;
}

.detailPrice {
    font-weight: bold;
    font-size: larger;
    color: chocolate;
}

.productAvailable {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: mediumvioletred;
}