.detailImg {
    width: 300px;
    height: auto;
    margin: 0 auto;
}

.detailTable {
    width: 100%;
    background-color: lightgray;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.4em;
    font-weight: bold;
}

.detailDescription {
    margin-top: 30px;
    font-size: 1.4em;
    line-height: 1.2;
    width: 400px;
}

.detailPrice {
    font-weight: bold;
    color: chocolate;
}

.productAvailable {
    text-align: center;
    font-size: 1.2em;
    color: mediumvioletred;
}